@font-face {
    font-family: "Barlow";
    src: url("./assets/BarlowCondensed-Light.ttf");
}
video{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}
body{
    
    font-family:"Barlow";
    font-size: 20px;
    color:white;
}
.element-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.elemt1 {
    border: 5px solid hwb(25 4% 33%);
    border-radius: 50px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: #4774ab transparent;
    
    width: auto;
    margin: 30px auto 30px auto;
    padding: 30px;
}
input[type="text"]{
    background-color: transparent;
    border-color: white;
    color:white;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: medium;
}
button{
    background-color: transparent;
    border-color: white;
    color:white;
    font-size: larger;
    border-radius: 5px;
}
button:hover,a:hover{
    background-color: white;
    border-color: black;
    color:black;
    transition-duration:0.5s;
    transition-delay:0;
    font-size: larger;
    border-radius: 8px;

}
a{
    
    border: 2px solid white;
    border-radius: 5px;
    color:white;
    display:flex;
    justify-content:flex-start;
    text-decoration:none;
    width:fit-content;
    padding: 2px;

}
.display{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    
    gap: 3rem;
}
html{
    scroll-behavior:smooth;
}
.div4{
    background-color: transparent;
    border-color: white;
    color:white;
    font-size: larger;
    border-radius: 5px;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
}
label{
    font-size:larger;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-color:white;
    border-width:10px;
}